
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <p class="col-sm-2"/>
        <p class="col-sm-8">@ViewData["Message"]</p>
        <p class="col-sm-2" />
    </div>
</div>


