
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    4010 Whistler Way <br />
    Whistler, BC V0N 1B4 Canada<br /><br />
    <abbr title="TollFreePhone">Phone (Toll free): </abbr>
    1.888.869.2777<br />
    <abbr title="Phone">Phone: </abbr>
    1.604.932.3928<br />
    <abbr title="OfficeHour">Office Hours: </abbr>
    Monday - Friday 8:30 AM – 5:00 PM PST
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>