
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="pagination-centered text-center">
    <div class="jumbotron">
        <h1>Payment Successful!</h1>
        <h3>@Html.ActionLink("Return to Events page", "Events")</h3>
        @*<small>@Html.ActionLink("VIEW TRANSACTION HISTORY", "PayPal")</small>*@
    </div>
</div>
